nav.nav-header{
    /* background-color: #107D82; */
    background-color: #069d86;
    /* background-color: #4b2e83; */
    position: fixed;
    z-index: 999;
    /* position: fixed; Cho menu cố định 1 vị trí với top và left */
  width: 100%;
  box-shadow: 0 1px 10px 0 rgba(31, 28, 38, 0.15);
}
nav ul.ul-nav{
    margin-left: 30px; 
}
input.search{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
div.image-logo{
    width: 115px;
    height: 40px;
    background: url('../../images/logo_bk.png') center center no-repeat;
    background-size: cover;
}
nav div.nav-btn-search{
    width: 99px;
    height: 38px;
    border-radius: 5px;
    background-color: #069d86;
    border: 1px solid wheat;
}
nav div.nav-btn-search:hover{
    transform: scale(1.05);
}
form.search{
    width: 40%;
    margin-left: 30px;
}
a.link{
    color: white !important;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    /* text-decoration: none; */
    background-color: transparent;
}
a.nav-link{
    color: black !important;
}
a.nav-link:hover{
    color: white !important;
}
nav button.nav-btn-dangki{ 
    background-color: #069d86;
    width: 85px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid wheat;
}
nav button.nav-btn-dangki:hover{
    transform: scale(1.05);
}
nav div.notChange{
    width: 99px;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
